/* GamesHome.css */

.games-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
  
.games-title {
  font-size: 2.5rem;
  color: #f56e1b;
  margin-bottom: 2rem;
}
  
.game-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-button {
  padding: 1rem 2rem;
  margin: 0.5rem;
  background-color: #f56e1b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.game-button:hover {
  background-color: #3700b3;
}
